html, body {
    background: linear-gradient(45deg, #ffffff 0%,#f3f3f3 50%,#ffffff 100%);
    font-family: 'Indie Flower', cursive;
}
h1 {
    align-self: center;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: -2rem;
}
.container {
    position: relative;
    height: 40rem;
    padding: 2rem;
    width: 68rem;
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
}
.slides {
    height: 40rem;
    opacity: 0; 
    padding: 0;
    margin: 0;
    transition: all 1s ease-in-out;
    
}
.active{
    opacity: 1;
}
/* .mainslide {
    z-index: 1;
    opacity: 1;
    height: 40rem;
    padding: 0;
    margin: 0;
    border: 2px solid grey;
    border-radius: 10px;
    
} */
button {
    border: none;
    background: none;
    font-size: 1.5rem;
    color: grey;
    outline: none;
}
button:nth-child(1){
    position: absolute;
    top: 50%;
    left: 0;
}
button:nth-last-child(1){
    position: absolute;
    top:50%;
    right: 0;
    color: green;
}

/* HFWJNFWIJKFNWFJW */

li {
    list-style: none;
    padding: 0;
    margin: 0;
}
ol {
    margin: 0;
    padding: 0;
}
li:nth-child(1){
    background-image: url(BABY.jpeg);
    background-size: cover;
}
li:nth-child(2){
    background-image: url(babylove.jpg);
    background-size: cover;
    position: relative;
    top: -40rem;
}
li:nth-child(3){
    background-image: url('BABY%20loooooooove%20(2).jpg');
    background-size: cover;
    position: relative;
    top: -80rem;
}
li:nth-child(4){
    background-image: url('Baby2.jpg');
    background-size: cover;
    position: relative;
    top: -120rem;
}

.dotcontainer {
    position: absolute;
    width: 100%;
    top: 40rem;
    text-align: center;
}
.transparentdot {
    background: white;
    border: 1px solid white;
    opacity: 0.5;
    border-radius: 50%;
    height: 0.5rem;
    padding: 2px 12px;
    margin: 0.5rem;
    transition: all 1s ease-in-out;
}
.activedot {
    background: background: rgba(255,255,255, 1);
    opacity: 1;
}